body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

h2 {
    font-family: 'Didot', 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', 'P052', 'Sylfaen', serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    color: #FFFFFF;
    mix-blend-mode: exclusion;
}


.blur {
    filter: blur(0.6px);
}

  

@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    50%
    {
        transform: rotateX(-15deg) rotateY(180deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube {
    position: absolute;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}

.cube div 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
}

.cube div span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: rotateY(calc(90deg * var(--i))) translateZ(15px);
}

.top
{
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #ffffff;
    transform: rotateX(-90deg) translateZ(15px);
}

.bottom 
{
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #ffffff;
    transform: rotateX(-90deg) translateZ(-15px);
}

/* big cube */
@keyframes biganimate
{
    0%
    {
        transform: rotateX(90deg) rotateY(360deg);
    }
    50%
    {
        transform: rotateX(-90deg) rotateY(180deg);
    }
    100%
    {
        transform: rotateX(90deg) rotateY(360deg);
    }
}

.bigcube {
    position: absolute;
    width: 360px;
    height: 360px;
    transform-style: preserve-3d;
    animation: biganimate 8s linear infinite;
}



.bigcube div 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 360px;
    transform-style: preserve-3d;
}

.bigcube div span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: rotateY(calc(90deg * var(--ib))) translateZ(180px);
}

.bigtop
{
    position: absolute;
    top:0;
    left: 0;
    width: 360px;
    height: 360px;
    background: #ffffff;
    transform: rotateX(-90deg) translateZ(180px);
}

.bigbottom 
{
    position: absolute;
    top:0;
    left: 0;
    width: 360px;
    height: 360px;
    background: #ffffff;
    transform: rotateX(-90deg) translateZ(-180px);
}


.bigwrapper {
    position: absolute;
    left: 25%; /* Adjust this value to move the div to the right */
    top: 25%; /* Adjust this value to move the div downwards */
}


.reflect-top {
    height: 65vh;
    width: 100vw;
    background: radial-gradient(circle, rgb(255,214,10), rgb(15,15,15));
}

.reflect-bottom {
    height: 35vh;
    width: 100vw;
    background: radial-gradient(circle, rgb(255,214,10), rgb(15,15,15));
}


.cubewrapper {
    position: absolute;
    margin-top: 00px;

    video {
        width: 500px;
        -webkit-box-reflect: below 100px linear-gradient(transparent, rgba(255,255,255,0.8));
    }
}

























/* .top::before shadow on the ground or something
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px; 
    background: rgb(255, 255, 255);
    transform: translateZ(-38px);
    filter: blur(30px);
    
    
    
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(255, 255, 255, 0.4),
    0 0 300px rgba(255, 255, 255, 0.6),
    0 0 400px rgba(255, 255, 255, 0.8),
    0 0 500px rgb(255, 255, 255); 
    little blurred cube under or above depending on where top is
    

    
} */

